  <app-encabezado></app-encabezado>
  <!-- 03-09 -->

<div class="container perfil">
  <div class="row"><img class="img-perfil" src="../assets/perfil.png" alt="Imagen de perfil">
    <!-- <div class="col">
      <button type="button" class="cambiar-foto">
        <i class="far fa-image"></i>
      </button> -->
    </div>
    <div class="row">      
        <ul>
          <li><h6>Nombre</h6></li>
          <li>Título</li>
          <li>Información profesional</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorem velit quasi repudiandae! Quas ut provident pariatur iste accusantium ex, debitis quia ab alias, cumque quisquam nesciunt minima ducimus placeat!</li>
        </ul>
      </div>
    </div>


  
  <section>
    <div>
      <h4>Experiencia</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col"><img src="" alt=""></div>
        <div class="col">
          <ul>
            <li>puesto</li>
            <li>período</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint error eum itaque, dicta quas soluta doloribus sit, placeat, voluptatibus alias esse accusantium a deleniti quibusdam tempora! Quibusdam doloribus impedit animi.</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="Logo de empresa"></li>
        <li><input type="text" placeholder="Puesto" required></li>
        <li><input type="text" placeholder="Período" required></li>
        <li><input type="text" placeholder="Actividades realizadas" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
    <div>
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
    <div>
      <button><i class="bi bi-x-circle"></i></button>
    </div>
  </section>
  <section>
    <div>
      <h4>Educación</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col"><img src="" alt=""></div>
        <div class="col">
          <ul>
            <li>título</li>
            <li>período</li>
            <li>instituto</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="Logo de instituto"></li>
        <li><input type="text" placeholder="Título" required></li>
        <li><input type="text" placeholder="Período" required></li>
        <li><input type="text" placeholder="instituto" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
    <div>
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
    <div>
      <button><i class="bi bi-x-circle"></i></button>
    </div>
  </section>
  <section>
    <h4>Habilidades duras y blandas</h4>
    <div class="container">
      <div class="row">
        <div class="col"><img src="../assets/teamwork.png" alt=""></div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="Ícono"></li>
        <li><input type="text" placeholder="Habilidad" required></li>
        <li><input type="text" placeholder="Porcentaje de dominio" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
  </section>
  <section>
    <h4>Proyectos</h4>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../assets/github.png" alt="">
        </div>
        <div class="col">
            <ul>
              <li>Nombre del proyecto</li>
              <li>Fecha de realización</li>
              <li>Descripción del proyecto: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, perferendis at eveniet recusandae repudiandae assumenda cum mollitia voluptatem, expedita ad accusamus tenetur deleniti? Atque, corrupti autem veniam itaque eveniet voluptatem.</li>
            </ul>    
        </div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="captura"></li>
        <li><input type="text" placeholder="Nombre del proyecto" required></li>
        <li><input type="text" placeholder="Fecha de realización" required></li>
        <li><input type="text" placeholder="Descripción del proyecto" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
  </section>