<header>
  <!-- Inicio del menu -->
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      
      <!-- icono -->
      <a class="navbar-brand" href="#">
				<img id="logo" src="../assets/APLogo.png" alt="">
        <span>#YoProgramo</span>
			</a>
      
      <!-- boton del menu -->

			<button class="navbar-toggler p-2" type="button"
      data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
			</button>

      <!-- elementos del menu colapsable -->
			<div class="collapse navbar-collapse" id="menu">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
            <a href="https://github.com/Raquel007" class="navbar-link">
              <img class="navbar-brand" src="../assets/github.png" alt="">
              <small class="d-md-none ms-2">Github</small>
            </a></li>
					<li class="nav-item">
            <a href="https://linkedin.com/in/raquel-cavagnaro-b010b2185" class="navbar-link">
              <img class="navbar-brand" src="../assets/linkedin.png" alt="">
              <small class="d-md-none ms-2">LinkedIn</small>
            </a></li>
					<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Iniciar Sesión</a>
						<div class="dropdown-menu dropdown-menu-right">
							<form action="/action" method="post">
								<input class="dropdown-item text-center" type="text" placeholder="Usuario" required>
								<input class="dropdown-item text-center" type="password" placeholder="Contraseña" required>
								<div class="dropdown-divider"></div>
								<button class="dropdown-item text-center" type="submit">INGRESAR</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</div> 
  </nav>
  <div class="responsive-banner">
  </div>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../assets/perfil.png" alt="">
        </div>
        <div class="row">
          <div class="col"><h6>Nombre</h6></div>
          <div class="col">
            <ul>
              <li>Título</li>
              <li>Información profesional</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorem velit quasi repudiandae! Quas ut provident pariatur iste accusantium ex, debitis quia ab alias, cumque quisquam nesciunt minima ducimus placeat!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <section>
    <div>
      <h4>Experiencia</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col"><img src="" alt=""></div>
        <div class="col">
          <ul>
            <li>puesto</li>
            <li>período</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint error eum itaque, dicta quas soluta doloribus sit, placeat, voluptatibus alias esse accusantium a deleniti quibusdam tempora! Quibusdam doloribus impedit animi.</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="Logo de empresa"></li>
        <li><input type="text" placeholder="Puesto" required></li>
        <li><input type="text" placeholder="Período" required></li>
        <li><input type="text" placeholder="Actividades realizadas" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
    <div>
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
    <div>
      <button><i class="bi bi-x-circle"></i></button>
    </div>
  </section>
  <section>
    <div>
      <h4>Educación</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col"><img src="" alt=""></div>
        <div class="col">
          <ul>
            <li>título</li>
            <li>período</li>
            <li>instituto</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="Logo de instituto"></li>
        <li><input type="text" placeholder="Título" required></li>
        <li><input type="text" placeholder="Período" required></li>
        <li><input type="text" placeholder="instituto" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
    <div>
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
    <div>
      <button><i class="bi bi-x-circle"></i></button>
    </div>
  </section>
  <section>
    <h4>Habilidades duras y blandas</h4>
    <div class="container">
      <div class="row">
        <div class="col"><img src="../assets/teamwork.png" alt=""></div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="Ícono"></li>
        <li><input type="text" placeholder="Habilidad" required></li>
        <li><input type="text" placeholder="Porcentaje de dominio" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
  </section>
  <section>
    <h4>Proyectos</h4>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../assets/github.png" alt="">
        </div>
        <div class="col">
            <ul>
              <li>Nombre del proyecto</li>
              <li>Fecha de realización</li>
              <li>Descripción del proyecto: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, perferendis at eveniet recusandae repudiandae assumenda cum mollitia voluptatem, expedita ad accusamus tenetur deleniti? Atque, corrupti autem veniam itaque eveniet voluptatem.</li>
            </ul>    
        </div>
      </div>
    </div>
    <div>
      <button><i class="bi bi-plus-circle"></i></button>
      <ul>
        <li><input type="image" placeholder="captura"></li>
        <li><input type="text" placeholder="Nombre del proyecto" required></li>
        <li><input type="text" placeholder="Fecha de realización" required></li>
        <li><input type="text" placeholder="Descripción del proyecto" required></li>
      </ul>
      <button type="submit">INGRESAR</button>
    </div>
  </section>