<header>

    <!-- Inicio del menu -->

    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        
        <!-- icono -->

        <a class="navbar-brand" href="#">
          <img id="logo" src="../assets/APLogo.png" alt="">
          <span>#YoProgramo</span>
        </a>
        
        <!-- boton del menu -->
  
        <button class="navbar-toggler p-2" type="button"
        data-bs-toggle="collapse" data-bs-target="#menu"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggle-icon"></span>
        </button>
  
        <!-- elementos del menu colapsable -->

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="https://github.com/Raquel007" class="navbar-link">
                        <img class="navbar-brand" src="../assets/github.png" alt="">
                        <small class="d-md-none ms-2">Github</small>
                    </a></li>
                <li class="nav-item">
                    <a href="https://linkedin.com/in/raquel-cavagnaro-b010b2185" class="navbar-link">
                        <img class="navbar-brand" src="../assets/linkedin.png" alt="">
                        <small class="d-md-none ms-2">LinkedIn</small>
                    </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Iniciar Sesión</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form action="/action" method="post">
                            <input class="dropdown-item text-center" type="text" placeholder="Usuario" required>
                            <input class="dropdown-item text-center" type="password" placeholder="Contraseña" required>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item text-center" type="submit">INGRESAR</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
      </div> 
    </nav>
    <div class="responsive-banner img-fluid">
    </div>
</header>