.navbar-expand-md {
    background-color: #102618;
}

img {
    width: 30px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#logo {
    width: 100px;
}

span {
    color: white;
}

// Probando banners

.responsive-banner {
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 1%;
	margin-bottom: 1%;
	display: block;
	width: 95%;
	position: relative;
	height: auto;
	min-height: 300px;
	max-height: 30%;
    border-radius: 15px;
	overflow: hidden;
	background-image: linear-gradient(to bottom right, #81ddb7, #4c9c52);
}